[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
http-server = "*"

[packages]
pelican = {index = "pypi",version = "*"}
markdown = {index = "pypi",version = "*"}

[requires]
python_version = "3.7"
